<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>不用品譲渡システム</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/styles/utils.css">
    <script type="text/javascript">
      window.USER_DATA = <%= @user.to_json %>;
    </script>
  </head>
  <body>
    <header>
      ユーザー名: <%= @user.nil? ? 'ゲスト' : @user[:name] %>
    </header>
    <%= yield %>
  </body>
</html>
