<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>不用品譲渡システム</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/styles/utils.css">
    <script type="text/javascript">
      window.USER_DATA = <%= @user.to_json %>;
      window.DATA = <%= @data.to_json %>;
    </script>
  </head>
  <body>
    <header>
      ユーザー名: <%= @user.nil? ? 'ゲスト' : @user[:name] %>
      <form action="/logout" method="POST">
        <input type="submit" value="ログアウト">
      </form>
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/login">ログイン</a></li>
        <li><a href="/register">ユーザー登録</a></li>
        <li><a href="/new">出品登録</a></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
