<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Freemarket</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script type="text/javascript">
      window.USER_DATA = <%= @user.to_json %>;
      window.DATA = <%= @data.to_json %>;
    </script>
    <script src="/scripts/header.js" type="module" defer></script>
  </head>
  <body>
    <header id="header"></header>
    <%= yield %>
  </body>
</html>
